{% extends 'base.html' %} {% block body %}

<header>
  <img alt="logoimage" class="logoimage" src="/static/images/url.png" />
  <a class="logo">Shrinkly</a>
  <nav>
    <ul class="nav-links">
      <li>
        <a href="1">Home</a>
      </li>
      <li>
        <a href="https://github.com/OfiliPatrick/url-shortener">GitHub</a>
      </li>
    </ul>
  </nav>
  <a class="cta" href="https://github.com/OfiliPatrick">
    <button>Contact</button>
  </a>
</header>

<div>
  <img alt="heroimage" class="heroimage" src="/static/images/heroimage.png" />
</div>

<div class="hero">
  <p class="mainheading">The Ultimate URL Shortening Service</p>
  <p class="about">
    Shrinkly is a URL Shortener that transforms long URLs to more appealing
    easier to share short URLs.
  </p>
  <p class="directions">Paste your URL below to Shorten it.</p>
</div>

<form
  class="formsection"
  method="POST"
  action="{{ url_for('shortener.add_url') }}"
>
  <input
    class="urlinput"
    placeholder="Type or Paste your URL"
    type="text"
    name="original_url"
  />
  <input class="submitbutton" type="submit" value="Shorten!" />
</form>
{% block urladded %}{% endblock %} 
{% block error %}{% endblock
%}
{% endblock %} 
<!-- <footer>Built by Patrick Ofili, 2021</footer> -->
